<table class="tx-ccore" >
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_map.title" />
		</td>
		<td>
			{map.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_map.description" />
		</td>
		<td>
			{map.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_map.image" />
		</td>
		<td>
			{map.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_map.download" />
		</td>
		<td>
			{map.download}
		</td>
	</tr>
</table>