<label for="name">
	<f:translate key="tx_ccore_domain_model_clan.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="tag">
	<f:translate key="tx_ccore_domain_model_clan.tag" />
</label><br />
	<f:form.textfield property="tag" /><br />
<label for="slogan">
	<f:translate key="tx_ccore_domain_model_clan.slogan" />
</label><br />
	<f:form.textfield property="slogan" /><br />
<label for="about">
	<f:translate key="tx_ccore_domain_model_clan.about" />
</label><br />
	<f:form.textarea property="about" cols="40" rows="15" /><br />
<label for="logo">
	<f:translate key="tx_ccore_domain_model_clan.logo" /> <span class="required">(required)</span>
</label><br />
	<f:form.upload property="logo" /><br />