<table class="tx-ccore" >
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_clan.name" />
		</td>
		<td>
			{clan.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_clan.tag" />
		</td>
		<td>
			{clan.tag}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_clan.slogan" />
		</td>
		<td>
			{clan.slogan}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_clan.about" />
		</td>
		<td>
			{clan.about}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_clan.logo" />
		</td>
		<td>
			{clan.logo}
		</td>
	</tr>
</table>