<label for="matchdate">
	<f:translate key="tx_ccore_domain_model_match.matchdate" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="matchdate"  value="{match.matchdate->f:format.date()}" /><br />
<label for="lname">
	<f:translate key="tx_ccore_domain_model_match.lname" />
</label><br />
	<f:form.textfield property="lname" /><br />
<label for="llink">
	<f:translate key="tx_ccore_domain_model_match.llink" />
</label><br />
	<f:form.textfield property="llink" /><br />
<label for="report">
	<f:translate key="tx_ccore_domain_model_match.report" />
</label><br />
	<f:form.textarea property="report" cols="40" rows="15" /><br />