<table class="tx-ccore" >
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_match.matchdate" />
		</td>
		<td>
			{match.matchdate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_match.lname" />
		</td>
		<td>
			{match.lname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_match.llink" />
		</td>
		<td>
			{match.llink}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ccore_domain_model_match.report" />
		</td>
		<td>
			{match.report}
		</td>
	</tr>
</table>