<ul>
	<f:widget.paginate objects="{topics}" as="topicpag" configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 0}">
		<f:for each="{topicpag}" as="topic" iteration="iterator">
			<li class="{f:if(condition: '{iterator.isFirst}', then: 'first'}">
				<div class="game">
					<img src="_design/page.png" alt="" border="0" />
				</div>
				<div class="info">{topic.topicTitle}</div>
				<div class="line">{topic.forumId.forumName}, ({topic.topicReplies} Antworten)</div>
				{topic.forumId.group}
			</li>
		</f:for>
	</f:widget.paginate>
</ul>