{namespace vh = Tx_Ccore_ViewHelpers}
<f:layout name="Default" />
<f:section name="content">
<h2>Listing for Match</h2>

<f:flashMessages />

<table class="tx_ccore typo3-dblist" border="0" cellpadding="0" cellspacing="0">
	<tr class="t3-row-header">
		<th><f:translate key="tx_ccore_domain_model_match.matchdate" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.lname" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.llink" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.report" /></th>
		<th><f:translate key="functions" /></th>
	</tr>

	<f:for each="{matches}" as="match">
		<tr class="db_list_normal firstcol">
			<td><f:link.action action="show" arguments="{match : match}"> {match.matchdate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}"> {match.lname}</f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}"> {match.llink}</f:link.action></td>
			<td><f:link.action action="show" arguments="{match : match}">
				<f:format.stripTags>
					<f:format.crop maxCharacters="80">
						 {match.report}
					</f:format.crop></f:format.stripTags>
				</f:link.action>
			</td>
			<td>
				<vh:action.edit uid="{match.uid}" tablename="tx_ccore_domain_model_match">
					<vh:icon file="silk/page_edit.png" width="16" height="16" />
				</vh:action.edit>
				<f:link.action action="delete" arguments="{match : match}" title="{f:translate(key: 'tx_ccore_domain_model_match.delete_label')}">
					<vh:icon file="silk/delete.png" width="16" height="16" />
				</f:link.action>
			</td>
		</tr>
	</f:for>
</table>
</f:section>