{namespace vh = Tx_Ccore_ViewHelpers}
<f:layout name="Default" />

<f:section name="buttonsleft">
	<f:render partial="buttonsleft" arguments="{tablename: tablename, storagePid: storagePid, uid: uid}"/>
</f:section>

<f:section name="docheader">
</f:section>

<f:section name="content">

<h2>Listing for Match</h2>

<f:flashMessages />

<table class="tx_ccore typo3-dblist" border="0" cellpadding="0" cellspacing="0">
	<tr class="t3-row-header">
		<th>&nbsp;<f:translate key="tx_ccore_domain_model_match.matchdate" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.clan_pro" /></th>
		<th></th>
		<th><f:translate key="tx_ccore_domain_model_match.clan_con" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.result" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.game" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.gamemode" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.screenshots" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.comments" /></th>
		<th><f:translate key="tx_ccore_domain_model_match.rounds" /></th>
		<th><f:translate key="functions" /></th>
	</tr>

	<f:widget.paginate objects="{matches}" as="pagMatches" configuration="{itemsPerPage: 250, insertAbove: 0, insertBelow: 0}">
		<f:for each="{pagMatches}" as="match">
			<tr class="db_list_normal firstcol">
				<td> <f:format.date date="{match.matchdate}" format="d.m.y, H:i" /></td>
				<td> {match.Titlepro}</td>
				<td>&nbsp;vs.&nbsp;</td>
				<td> {match.Titlecon}</td>
				<td> {match.endresult}</td>
				<td><f:render partial="GameName" arguments="{game : match.game}" /></td>
				<td> {match.gamemode.name}</td>
				<td><f:count subject="{match.screenshots}"/></td>
				<td><f:count subject="{match.comments}" /></td>
				<td><f:count subject="{match.matchresults}" /></td>
				<td align="right">
					<f:link.action action="show" arguments="{match : match}"  title="{f:translate(key: 'tx_ccore_domain_model_match.view_label')}">
						<vh:icon file="silk/magnifier.png" width="16" height="16" />
					</f:link.action>
					<vh:action.edit uid="{match.uid}" tablename="tx_ccore_domain_model_match">
						<vh:icon file="silk/page_edit.png" width="16" height="16" />
					</vh:action.edit>
					<vh:action.delete uid="{match.uid}" tablename="tx_ccore_domain_model_match">
						<vh:icon file="silk/bin_closed.png" width="16" height="16" />
					</vh:action.delete>&nbsp;
				</td>
			</tr>
		</f:for>
	</f:widget.paginate>
</table>
</f:section>