#tx-mmforum-footer {
	display: none;
}

.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}

.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

.clearfix { zoom: 1; }

/* liScroll styles */

.tickeroverlay-left{
	background-image:url('/fileadmin/styles/amity/news_ticker/szene_news_overlay.png');
	display:block;
	pointer-events:none;
	position:absolute;
	z-index:30;
	height:30px;
	width:946px;
	top:0;
	left: 0px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tickercontainer { /* the outer div */
	background: #0c8bc7;
	border: 1px solid white;
	width: 946px; 
	height: 30px; 
	margin-top: 10px; 
	padding: 0;
	overflow: hidden; 
	float: left;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tickercontainer a, .tickercontainer a:hover {color: white;}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	top: 0px;
	height: 30px;
	/*width: 718px;*/
	overflow: hidden;
}

ul.newsticker { /* that's your list */
	position: relative;
	margin-left: 20px;
	font: bold 10px Verdana;
	list-style-type: none;
	margin-top: 9px;
	padding: 0;
}

ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding-right: 15px;
}

ul.newsticker a {
	color: white;
	white-space: nowrap;
	padding: 0;
	font: bold 10px Verdana;
	margin: 0 50px 0 0;
}

ul.newsticker span {
	margin: 0 10px 0 0;
}

/* MATCHES */

.general #enemy_logo {
	border: 1px solid #CCC;
	padding: 2px;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.general .info {
	width: 285px;
	margin-left: 10px;
	margin-top: 30px;
	list-style: none;
	position: relative;
	float: left;
}

.general .info dt {
	color: #555;
	font-weight: bold;
	margin-top: 5px;
	border-bottom: 1px dotted #777;
	border-right: 1px solid white;
	width: 79px;
	display: block;
	float: left;
}

.general .info dd {
	color: #777;
	margin-top: 5px;
	border-bottom: 1px dotted #777;
	width:205px;
	display: block;
	float: left;
}

.general .info .link {
	position: absolute;
	right: 0px;
}

#match_lol .match_details { margin-top: 10px; }