<div class="content_head"><!-- --></div>
<div class="content_content">
	<h2 class="myClass">General</h2>
	<div class="match_details">
		<div class="general">
			<div class="conClanLogo">	
			</div>
		</div>
		
		<div class="scoreBlock">
			<div class="scoreTeam"> ... </div>
			<div class="scoreResult">
				<span>
					<span class="winner">2</span>:<span class="loser">1</span>
				</span>
			</div>
			<div class="score"> ... </div>
		</div>
	</div>
</div>
<div class="content_foot"><!-- --></div>

<div class="content_head"><!-- --></div>
<div class="content_content">
	<h2 class="myClass">Result<small style="float: right; color: grey;">Overview</small></h2>
	
	content desu!
</div>
<div class="content_foot"><!-- --></div>

<div class="content_head"><!-- --></div>
<div class="content_content">
	<h2 class="myClass">Enemy Statistics<small style="float: right; color: grey;">League of Legends Statistics</small></h2>
	
	content desu!
</div>
<div class="content_foot"><!-- --></div>