<div id="match_lol">
	<div class="content_head"><!-- --></div>
	<div class="content_content">
		<h2 class="myClass">General</h2>
		<div class="match_details clearfix">
			<div class="general">
				<div id="enemy_logo">
					<f:image alt="Give It All" src="uploads/tx_ccore/clan/give.png" maxHeight="128c" maxWidth="128c"/>
				</div>
				
				<dl class="info">
					<dt>Enemy:</dt>
					<dd>Give It All <span class="link">link</span></dd>
					
					<dt>Game:</dt>
					<dd>Starcraft II</dd>
					
					<dt>Matchday:</dt>
					<dd>Fr., 06.04.2012 - 20:00 Uhr</dd>
					
					<dt>League:</dt>
					<dd>ESL Pro Series Season XVI <span class="link">link</span></dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="content_foot"><!-- --></div>
	
	<div class="content_head"><!-- --></div>
	<div class="content_content">
		<h2 class="myClass">Result<small>Overview</small></h2>
		
		
			
			<div class="scoreBlock">
				<div class="scoreTeam"> ... </div>
				<div class="scoreResult">
					<span>
						<span class="winner">2</span>:<span class="loser">1</span>
					</span>
				</div>
				<div class="score"> ... </div>
			</div>
	</div>
	<div class="content_foot"><!-- --></div>
	
	<div class="content_head"><!-- --></div>
	<div class="content_content">
		<h2 class="myClass">Enemy Statistics<small>League of Legends Statistics</small></h2>
		
		content desu!
	</div>
	<div class="content_foot"><!-- --></div>
</div>